{% extends 'threadApp/layout.html' %}

{% block content %}

<h2 style="text-align: center">{{title}}</h2>

{% if user.is_authenticated %}

<h3 style="text-align: right">
    Welcome: {{ user.username }}
    <a href="/threadApp/profile/">Account Settings</a>
    <form action="{% url 'threadApp:logout' %}" method="POST">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>
</h3>

<form action="" method="GET">
    Search: <input type="text" name="search_Post" placeholder="search..." value='{{ request.GET.search_Post }}'>
    <input type="submit" value="Submit">
</form>

<a href="/threadApp/createThread/">Create Thread</a>
<a href="/threadApp/uploadThread">Upload Thread</a>
<a href="/threadApp/usersThread/">All {{ user.username }} Threads</a>

<ul>
    {% for thread in threads %}
    {% if thread.thread_Exposer == "public" %}
    <li><i>Expires in {{thread.thread_TillExpire}}</i> <a href="/threadApp/details/{{thread.id}}">{{thread.thread_Name}}</a></li>
    {% endif %}
    {% endfor %}
</ul>

<div class="pagination">
    <span class="step-links">
        {% if threads.has_previous %}
        <a href="?page=1">&laquo; first</a>
        <a href="?page={{ threads.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ threads.number }} of {{ threads.paginator.num_pages }}.
        </span>

        {% if threads.has_next %}
        <a href="?page={{ threads.next_page_number }}">next</a>
        <a href="?page={{ threads.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

{% else %}

<h3 style="text-align: right"><a href="/threadApp/signup">Register</a> <a href="/threadApp/login">Login</a></h3>

<ul>
    {% for thread in threads %}
    {% if thread.thread_Exposer == "public" %}
    <li><a href="/threadApp/details/{{thread.id}}">{{thread.thread_Name}}</a></li>
    {% endif %}
    {% endfor %}
</ul>

<div class="pagination">
    <span class="step-links">
        {% if threads.has_previous %}
        <a href="?page=1">&laquo; first</a>
        <a href="?page={{ threads.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ threads.number }} of {{ threads.paginator.num_pages }}.
        </span>

        {% if threads.has_next %}
        <a href="?page={{ threads.next_page_number }}">next</a>
        <a href="?page={{ threads.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

{% endif %}

{% endblock %}